deb https://repo.mysql.com/apt/debian/ bullseye mysql-{{ mysql_version }}
deb https://repo.mysql.com/apt/debian/ bullseye mysql-tools
deb-src https://repo.mysql.com/apt/debian/ bullseye mysql-{{ mysql_version }}