{% for vhost in vhosts %}

# --- vhost {{ vhost.domain }} ---

<VirtualHost {{ vhost.match }}>
	ServerName {{ vhost.domain }}
{% for alias in vhost.alias|default([]) %}
    ServerAlias {{ alias }}
{% endfor %}
	ServerAdmin {{ vhost.admin|default(admin_email) }}
	DocumentRoot {{ vhost.docroot }}

	<Directory />
		Order Deny,Allow
		Options FollowSymLinks
		AllowOverride None
		require all denied
	</Directory>

{% for include_path in vhost.include_paths|default([]) %}
	Include {{ include_path }}
{% endfor %}

	ErrorLog /var/log/apache2/error_{{ vhost.domain }}.log
	LogLevel warn
	CustomLog /var/log/apache2/access_{{ vhost.domain }}.log combined
</VirtualHost>

{% endfor %}